@charset "utf-8";

/*---------------------------*/
/* 引用思源中文                */
/*---------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);


/*---------------------------*/
/* 定義網頁                   */
/*---------------------------*/
html, body{
    font-size:17px;
    /*設定思源中文*/
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 280;   
    background-color:rgba(0,0,0,0.2); 
	background-image:url(../images/bg.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	margin:0;
	
	
}





/*---------------------------*/
/* 定義標題                   */
/*---------------------------*/
div.header{
	width:100%;
	min-width:800px;
    height:100px;
    background-color:rgba(255,255,255,0.9);
    font-size:40px;
    text-align:center;
    line-height:80px;
    letter-spacing:7px;
	box-shadow:0px 1px 3px 1px #000;
	position:relative;
	z-index:20;
	box-sizing:border-box;
	position:fixed;
}

div.header img.logo{
	margin-top:20px;
	border-radius:100px;
	/*box-shadow:0px 1px 4px 1px #000;*/
}

div.navbar{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	height:40px;
	
	z-index:10;
	box-sizing:border-box;
	position:relative;
	top:-80px;
}

div.navbar ul{
	
	margin:0;
	list-style-type:none;
	padding:0;
}

div.navbar ul li{
	font-size:30px;
	height:35px;
	line-height:30px;
	width:50%;
	text-align:center;
	float:left;
	color:#063;
	
	font-weight:bold;
	
}

div.navbar ul.left{
	float:left;
	/*margin-left:100px;*/
	padding-right:40px;
	box-sizing:border-box;
	width:50%;
}

div.navbar ul.right{
	float:right;
	/*margin-right:100px;*/
	padding-left:45px;
	box-sizing:border-box;
	
	width:50%;
}





/*---------------------------*/
/* 定義內容                   */
/*---------------------------*/
div.content{       
    padding:30px 25px 20px 25px;
	background:#fff;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	box-sizing:border-box;
	position:relative;
	top:100px;
}

div.content h2{ 
	margin:0;
	padding-left:10px;
	background:#FF9;
	border-left: 5px solid #09F;
}







/*---------------------------*/
/* 定義表尾                   */
/*---------------------------*/
div.footer{
    height:50px;
    line-height:50px;
	background-color:#F36;
    color:#FFF;
    font-size:13px;
    text-align:center;
    letter-spacing:3px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	box-sizing:border-box;
	position:relative;
	top:100px;
	font-weight:700;
}




div.navbar ul li:hover{
	font-size:35px;
	color:#000;
	margin-top:-3px;
	/*border-bottom:3px solid #666;*/
	/*background:#6F6;*/
}